
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<header>
    <nav>
        <h2> Easy Survey Solution </h2>
    </nav>
</header>
<main>
    <div class="about">
        <div class="title">
            <h1>About Us</h1>
        </div>
        <div class="desc">
            <p>We provide platform for people to take survey and see the statistical results </p>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card_img"> <i class="fas fa-rocket"></i> </div>
            <div class="card_title">Take Survey</div>
            <div class="card_body">
                <p>Users can contribute to the exsisting survey</p>
            </div>
        </div>
        <div class="card">
            <div class="card_img"> <i class="fab fa-cloudversify"></i> </div>
            <div class="card_title">Create Survey</div>
            <div class="card_body">
                <p>Users can create new survey as per requirement</p>
            </div>
        </div>
        <div class="card">
            <div class="card_img"> <i class="fas fa-poll"></i> </div>
            <div class="card_title">Results</div>
            <div class="card_body">
                <p>Users could view the statistical result of the surveys</p>
            </div>
        </div>
    </div>
</main>
