<!DOCTYPE HTML>
<html>
<head>
   <title>Survey Number 2</title>
</head>
<body bgcolor="#FFFFFF" text="#000000">
   <form action="survey.cgi" method="POST">
    <h3>Student Summer Camp survey</h3>

    <div class="row">
        <div class="col-4" style="background-color:#aaa;">
            <br>
            <h5>Please enter your name: </h5>
        </div>
        <div class="col-6" style="background-color:#bbb;">
            <br>
            <input type="text" name="UserName" size=35 maxlength=50 value="">
        </div>

        <div class="col-4" style="background-color:#aaa;">
            <h5>Describe about yourself in the box below: </h5>
        </div>
        <div class="col-6" style="background-color:#bbb;">
            <TEXTAREA name="Comments" cols=60 rows=6></TEXTAREA>
        </div>

        <div class="col-4" style="background-color:#aaa;">
            <h5>Are you participating in the summer camp: </h5>
        </div>
        <div class="col-6" style="background-color:#bbb;">
            <p> 
                <input type="radio" name="AppSource" value=1>Yes
                <input type="radio" name="AppSource" value=2>No
            </p>
        </div>

        <div class="col-4" style="background-color:#aaa;">
            <h5>Please Select your preferences: </h5>
        </div>
        <div class="col-6" style="background-color:#bbb;">
            <p> 
                <input type="checkbox" name="AppSourceSports"> Sports 
                <input type="checkbox" name="AppSourceOuting"> Outing 
                <input type="checkbox" name="AppSourceInternship"> Internship 
                <input type="checkbox" name="AppSourceLibrary"> Library 
            </p>
        </div>

        <div class="col-4" style="background-color:#aaa;">
            <h5>Please Select your Academic year: </h5>
        </div>
        <div class="col-6" style="background-color:#bbb;">
            <SELECT name="AcdYear" ><OPTION>
                <OPTION value=1 >2018 - 2019
                <OPTION value=2 >2019 - 2020
                <OPTION value=3 >2020 - 2021
                <OPTION value=4 >2021 - 2022
                <OPTION value=5 >Other
            </SELECT>
        </div>
        <div class="col-12">
            <br>
            <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
            
            <a href="#" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
        </div>

    </div>
   </form>

</body>
</html>