body {
    font-family: 'Lato', sans-serif;
    background-color: #f4b927;
   }
   .wrapper {
   padding-top: 120px;
   }
   .card-img-top:hover {
   box-shadow: 0 5px 10px rgba(0,0,0,0.5);
   }
   .card-body{
       text-align: center;
       box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5)
   }
   .card-body h6 {
   font-size: 14px;
   text-transform: uppercase;
   color: deeppink;
   }
   .card-title:hover {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 24px;
   }
   .socials{
       align-self: center;
       text-align: center;
   }

   
   @media (max-width: 800px){
       .mx-30{
           margin-bottom: 30px;
       }
   }
   header {
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15)
}
h2 {
    font-weight: lighter
}


 
   