<!-- <p>home works!</p>
<p>Just for testing</p>

<p>just checking</p> -->

<div class="container mydiv">
    <div class="row">
        <div class="col-md-6 mt-5">
            <div class="row">
                <h1 class="col-md-12 tagline">Go Easy.</h1>
                <h1 class="col-md-12 tagline">Go Easy Survey Solutions.</h1>
                <h5 class="col-md-12 tagline"> A platform where you socialize yourself with others.</h5>
            </div>
            <div class="row mt-5 ml-5">
                <div class="col-md-4 m-0 p-0">
                    <button class="btn btn-success mr-3"> Create Survey </button>
                </div>
                <div class="col-md-6 m-0 p-0">
                    <button class="btn btn-info "> List of Survey </button>
                </div>
            </div>  
        </div>
        <div class="col-md-6 ">
            <img src="assets/Images/ess_logo.png" height="300px" width="auto"/>
          
        </div>
    </div> 
</div>